/* RESET DE TODO LA PAGINA */
* {
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;

}

/* 		FONTSA    			*/

@font-face {
    font-family: 'robotobold';
    src: url('../font/Roboto-Bold-webfont.eot');
    src: url('../font/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Bold-webfont.woff') format('woff'),
         url('../font/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../font/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../font/Roboto-Light-webfont.eot');
    src: url('../font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Light-webfont.woff') format('woff'),
         url('../font/Roboto-Light-webfont.ttf') format('truetype'),
         url('../font/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/Roboto-Regular-webfont.eot');
    src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Regular-webfont.woff') format('woff'),
         url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Style para el slider*/

.dg-container{
  width: 100%;
  height: 450px;
  position: relative;
}
.dg-wrapper{
  width: 481px;
  height: 316px;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
.dg-wrapper a{
  width: 482px;
  height: 316px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent url(../img/browser.png) no-repeat top left;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
  display: block;
  padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
  font-style: italic;
  text-align: center;
  line-height: 50px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  color: #333;
  font-size: 16px;
  width: 100%;
  bottom: -55px;
  display: none;
  position: absolute;
}
.dg-wrapper a.dg-center div{
  display: block;
}
.dg-container nav{
  width: 58px;
  position: absolute;
  z-index: 1000;
  bottom: 40px;
  left: 50%;
  margin-left: -29px;
}
.dg-container nav span{
  text-indent: -9000px;
  float: left;
  cursor:pointer;
  width: 24px;
  height: 25px;
  opacity: 0.8;
 /* background: transparent url(../image/arrows.png) no-repeat top left; */
}
.dg-container nav span:hover{
  opacity: 1;
}
.dg-container nav span.dg-next{
  background-position: top right;
  margin-left: 10px;
}
/*fin de estilos del slider*/

/*estilos para la pagina*/
body {
	/*	fondo de la pag 	*/
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%, rgba(255,255,255,1) 37%, rgba(237,237,237,1) 77%, rgba(201,201,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,rgba(255,255,255,1)), color-stop(37%,rgba(255,255,255,1)), color-stop(77%,rgba(237,237,237,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	background-size: 100%;
	background-size:100% 580px;

  margin: auto;
  height: auto;
  text-align: center;
  font-size: 12pt;
	/* 	fuente de la pagina 	*/
    font-family: "robotoregular";
    font: "robotoregular";

}

/*       Sombra superior del cuerpo 		*/
body:before { 
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

header{
	margin: 40px auto;
	display: table;

}

nav a{
  padding-top: 9px;
  vertical-align:middle;
  color: #E1E1E1;
  text-decoration: none;
  /* Animación*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header nav ul{

    list-style-type:none;
    
    float: right;
    margin-top: 22px;
    margin-right: 20px;
    max-width: 410px;
    display: inline-table;
}

header nav li{

    text-align: center;
    display: inline;
    height: 64px;
    margin-right: 6px;
    margin-left: 3px;
            
}

header li a:hover {
  color: #009933;
  border-width:5px;
  border-top: solid #0C7519; 
} 

.active{
    color: #0C7519;
}

#contenedor{
	width: 960px;
	background-image: url('../img/barra.png');
  height: 64px;
	
}

#contenedor3dimage{
  padding-top: 20px;
  padding-bottom: -3px;
  margin: 0 auto;
  width: 847px;
  height: 433px;

  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzNyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NyUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzljOWM5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%, rgba(255,255,255,1) 37%, rgba(237,237,237,1) 77%, rgba(201,201,201,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,rgba(255,255,255,1)), color-stop(37%,rgba(255,255,255,1)), color-stop(77%,rgba(237,237,237,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


}
#cont1, #cont2{
  margin: 0 auto;

}
#textizq{
  font-style: italic;
  text-align: right;
  text-transform: uppercase;
  color:#0C7519;
  font-family: 'robotobold';
  font-size: 29px;
  letter-spacing: -1px;
  line-height: 80%;
  display: inline-block;

}
#textdere{
  text-align: left;
  text-transform: uppercase;
  color: black;
  font-family: 'robotolight';
  font-size: 58px;
  letter-spacing: -6px;
  line-height: -1px;
  display: inline-block;
  line-height: 80%;
  
}

/*    Sombra de barra de navegación   */
#sombra{
  width: 90%;
  height: 30px;
  margin-top: -30px; 
}

#sombra2{
  width: 200px;
  height: 15px;
  margin-top: -30px; 
}

#desarrollo,#asesoria,#cursos {
  text-align: center;
  font-size: 11pt;
  box-shadow: 0 0 15px black;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  padding-top: -20px;
  height: 330px;
  width: 230px;
  display: inline-table;
  border-radius: 10px;
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzNyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3NyUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzljOWM5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%, rgba(255,255,255,1) 37%, rgba(237,237,237,1) 77%, rgba(201,201,201,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,rgba(255,255,255,1)), color-stop(37%,rgba(255,255,255,1)), color-stop(77%,rgba(237,237,237,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 37%,rgba(237,237,237,1) 77%,rgba(201,201,201,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#desarrollo b,#asesoria b,#cursos b{
  color: #0C7519;
  font-size: 14pt;
  font-family: 'robotoregular';
  letter-spacing: -1px;
  font-style: italic;

}

#logito{
  margin-top: -60px;
  overflow: visible;
  margin-bottom: -20px;
}

/*
** Inicio de estilos para el footer
*/

footer{

  font-size: 12px;
  color: #fff;
  background-color: rgba( 0, 0, 0, 0.5);
  box-shadow: 0px -5px 7px #333;
  height: 250px;
  width: 960px;
  margin: 15px auto;

}

#footer1{

  float: left;
  text-align: left;
  margin: 30px;
  width: 300px;
  border-right: solid 2px #999;
  
}

#footer1 img{

  padding: 2px 5px;

}

#footer1 p{

  margin-left: 45px;
  margin-top: -30px;
  white-space: pre;

}

#footer2{

  float: left;
  text-align: left;
  margin: 30px 0;
  width: 100px;
  border-right: solid 2px #999;
  
}

#footer2 ul{

  list-style-type: none;
  margin: 25px 0;

}

#footer2 a{

  text-decoration: none;
  color: #fff;
  line-height: 20px;

}

#footer2 strong{

  margin-left: -20px;

}

#footer3{

  float: left;
  text-align: left;
  margin: 30px;
  width: 100px;
  
}

#footer3 strong{

  margin-left: -20px;

}

#social{

  margin-top: 20px;

}

#copy{

  float: left;
  width: 100%;
  height: 24px;
  background-color: rgba( 0, 0, 0, 0.7);

}